* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fff;
}
.container {
  background-color: #fafafa;
  margin: 0.5% 3%;
}
/* NAVEGADOR */
.nav-container {
  /* border-radius: 5px 5px 0 0; */
  margin: 0.5% auto;
  width: 90%;
  padding: 20px 5%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
#logo {
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  /* justify-content: space-around; */
}
.menu-superior {
  list-style-type: none;
  text-align: center;
  /* margin: auto; */
  justify-content: space-around;
}
.menu-superior li {
  display: inline-block;
  margin: 10px 0;
}
.menu-superior a {
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.menu-superior a:link {
  text-decoration: none;
}

.menu-superior a:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #999;
  font-weight: lighter;
  text-decoration: solid;
}
.menu-superior a:active {
  font-size: 1.05rem;
  color: #333;
}

/* HERO SECTION */
.hero-container {
  position: relative;
  display: inline-block;
  text-align: center;
}
.img-hero {
  width: 85%;
  margin: 0px auto;
  height: auto;
  display: block;
  border-radius: 3px;
}

.hero-slogan {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 0.2rem;
  text-align: center;
}

/* SECCIONES*/
.main-container {
  display: grid;
  min-height: 65vh;
  grid-template-columns: 6% repeat(2, 1fr) 6%;
  grid-template-rows: repeat(2, auto);
  padding: 1%;
  row-gap: 1%;
  column-gap: 0.5%;
  margin-bottom: 1%;
}
.position__item:nth-child(1) {
  grid-column: 2/3;
  grid-row: span 2;
}
.position__item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.position__item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.img__vertical {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.iframe {
  width: 100%;
  height: 48%;
  object-fit: cover;
  border-radius: 3px;
}
.article__item:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  color: #444;
}
.article__item:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: #444;
}
.article__item:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: #444;
}
.seccion-title {
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.article__text {
  padding: 0 1rem 1rem;
  font-size: 0.8rem;
  color: #555;
  letter-spacing: 0.1rem;
  text-align: justify;
}

/* FOOTER */
.footer-container {
  display: inline-block;
  width: 90%;
  margin: 5%;
  padding: 0%;
  border-radius: 5px;
}

.footer-container {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-text--location {
  text-align: center;
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  text-transform: capitalize;
  margin: auto;
}
.footer-social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1.5rem 0;
}

.footer-social li {
  margin: 0 10px;
}

.footer-social li a {
  padding: 0 1rem;
  color: #555;
  text-decoration: none;
}

.footer-social a:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #999;
  font-weight: lighter;
  text-decoration: solid;
}
.footer-social a:active {
  font-size: 1.3rem;
  color: #333;
}
.footer-copy {
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  color: #aaa;
  font-size: 14px;
  word-spacing: 2px;
}
/* ABOUT */
.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "pos1 pos1 pos1"
    "pos2 pos3 pos4";
  width: 100%;
  height: auto;
  gap: 4px;
  padding: 0 6%;
}
.sec1 {
  grid-area: pos1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec2 {
  grid-area: pos2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec3 {
  grid-area: pos3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec4 {
  grid-area: pos4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
  align-items: center;
}
.profile-item {
  position: relative;
}
.profile__title {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(255, 251, 251, 0.767);
  letter-spacing: 0.2rem;
  padding: 3%;
}
.profile__img {
  border-radius: 3px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-description {
  margin-left: 10%;
  text-align: justify;
  padding-right: 10%;
}
.section-img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 3px;
}
/* BRANDENBURG */
.brand-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 5%;
}
/* PORTFOLIO */

.portfolio__item {
  position: relative;
}
.portfolio__title {
  position: absolute;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(255, 251, 251, 0.767);
  letter-spacing: 0.2rem;
  padding: 3%;
}
.img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
/* FORMULARIOS */
.formularios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------------ */

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) and (max-width: 900px) {
  /* HERO */
  .hero-slogan {
    position: absolute;
    top: 35%;
  }
  /* SECCIONES */
  .position__item:nth-child(1) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .position__item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .position__item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .article__item:nth-child(3) {
    flex-direction: row;
  }
  /* ABOUT */
  .profile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    flex-direction: column;
  }

  .profile__img {
    border-radius: 3px;
    width: 100%;
    height: 308px;
    object-fit: cover;
  }
  /* BRANDENBURG */
  .brand-content {
    align-items: flex-start;
  }
  #church {
    padding-top: 10%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* NAVEGADOR */
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo {
    text-align: center;
  }
  .menu-superior {
    margin-top: 5%;
  }
  .menu-superior {
    flex-direction: column;
  }
  /* HERO */
  .hero-slogan {
    position: absolute;
    top: 35%;
  }
  /* SECCIONES */
  .position__item:nth-child(1) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .position__item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .position__item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .article__item:nth-child(3) {
    flex-direction: row;
  }
  /* ABOUT */
  .about-container {
    display: block;
  }
  .profile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    flex-direction: column;
  }

  .profile__img {
    border-radius: 3px;
    width: 100%;
    height: 308px;
    object-fit: cover;
  }
  /* BRANDENBURG */
  .brand-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /* NAVEGADOR */
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo {
    text-align: center;
  }

  .menu-superior {
    flex-direction: column;
    width: 100%;
  }
  .menu-superior li {
    width: 100%;
  }
  /* HERO */
  .hero-slogan {
    position: absolute;
    top: 30%;
  }
  .img-hero {
    width: 100%;
  }
  /* SECCIONES */
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .position__item {
    width: 100%;
    margin-bottom: 5%;
  }
  .img__vertical {
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 3px;
  }
  .article__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .article__item:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .iframe {
    height: 315px;
  }
  /* FOOTER */
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-social {
    margin: 3%;
  }
  .footer-social li {
    margin: 2%;
  }

  /* ABOUT */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2%;
    flex-direction: column;
  }
  /* BRANDENBURG */
  .brand-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
